@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, #c7c5f4, #776bcc);
}

.container {
    font-family: Raleway, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Raleway, sans-serif;
    .screen {
        background: linear-gradient(90deg, #5d54a4, #7c78b8);
        position: relative;
        height: 250px;
        width: 350px;
        box-shadow: 0px 0px 24px #5c5696;
        .screen__content {
            z-index: 1;
            position: relative;
            height: 100%;
            .change_password {
                padding: 30px;
                padding-bottom: 10px;
                position: relative;
                h2 {
                    font-size: 35px;
                    font-weight: 600;
                    margin:0;
                    color: #5f58a2
                }
                .sub-content{
                    position: absolute;
                    top:80px;
                    left: 25px;
                    width: 400px;
                    font-size: 16px;
                    font-style: italic;
                    font-weight: 600;
                }
                .password,
                .confirm_password {
                    padding: 30px 0 0;
                    position: relative;
                }
                .password {
                    margin-top: 25px;
                }
                .submit {
                    position: relative;
                    background: #fff;
                    font-size: 14px;
                    margin-top: 40px;
                    padding: 10px 20px;
                    border-radius: 26px;
                    border: 1px solid #d4d3e8;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    width: 75%;
                    color: #4c489d;
                    box-shadow: 0px 2px 2px #5c5696;
                    cursor: pointer;
                    transition: 0.2s;
                    justify-content: center;
                    span {
                        font-size: 18px;
                    }
                    :active,
                    :focus,
                    :hover 
                    {
                        border-color: #6a679e;
                        outline: none;
                    }
                }   
            }
            h3 {
                color: #fff;
                text-align: end;
                margin-right: 20px;
            }
        }
        .screen__background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
            .screen__background__shape {
                transform: rotate(45deg);
                position: absolute;
            }

            .screen__background__shape1 {
                height: 520px;
                width: 520px;
                background: #fff;
                top: -50px;
                right: 120px;
                border-radius: 0 72px 0 0;
            }

            .screen__background__shape2 {
                height: 220px;
                width: 220px;
                background: #6c63ac;
                top: -172px;
                right: 0;
                border-radius: 32px;
            }

            .screen__background__shape3 {
                height: 540px;
                width: 190px;
                background: linear-gradient(270deg, #5d54a4, #6a679e);
                top: -24px;
                right: 0;
                border-radius: 32px;
            }

            .screen__background__shape4 {
                height: 400px;
                width: 200px;
                background: #7e7bb9;
                top: 420px;
                right: 50px;
                border-radius: 60px;
            }
        }
    }
}

.password__input {
    border: none;
    border-bottom: 2px solid #d1d1d4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: 0.2s;
    :active,
    :focus,
    :hover {
        outline: none;
        border-bottom-color: #6a679e;
    }
}